@import "../../styles/variables";

.H1,
.H2,
.H3,
.H4,
.H5,
p {
  margin: 0;
}

.P {
  font-family: $Raleway;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 24px;

  &Small {
    font-size: 16px;
    line-height: 20px;
    font-weight: 200;
    letter-spacing: 0.5px;
  }
}

.H1 {
  font-family: $Roboto;
  font-weight: 100;
  font-size: 46px;
}

.H2 {
  font-family: $Roboto;
  font-weight: 400;
  margin-bottom: 16px;
  text-transform: lowercase;
  font-size: 26px;
}

.H3 {
  font-family: $Raleway;
  font-weight: 400;
  margin-bottom: 6px;
  font-size: 20px;
}

.H4 {
  font-family: $Roboto;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 4px;
}

.H5 {
  font-family: $Raleway;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 14px;
}
