$black: #000000;
$white: #ffffff;
$tundora-grey: #4d4d4d;
$salmon-pink: #ff7a71;
$sulu-green: #bced69;
$spray-blue: #6ce0f1;

$Roboto: "Roboto Slab", serif;
$Raleway: "Raleway", sans-serif;
$breakpoints: (
  base: 0,
  xxsmall: 375px,
  xsmall: 414px,
  small: 540px,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1410px
);

@mixin breakpoint($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @media screen and (min-width: $size) {
    @content;
  }
}
